<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Complaint</title>
</head>
<style>
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

</style>
<body>
<div align="center">
<form action="/profile" method="Post">
    <h1>Report your complaint</h1>
    <p>Description</p>
    <input type="text" name="dis">

    <p>Remarks</p>
    <input type="text" name="rem">
    <br>
    <br>
    <p>Date </p>
    <input type="text" name="date">
    <input type="submit" name="ssubmit">
    <br><br>
</form>
</div>
</body>
</html>