<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
<form action="/AddUserdetails" method="Post">
    <h1>Registration Page</h1>

    <p>User Name</p>
    <input type="text" name="uname">
    <br>
    <p>Address</p>
    <input type="text" name="addr">
    <br>
    <p>E-mail</p>
    <input type="text" name="email">
    <br>
    <p>Phone</p>
    <input type="text" name="phone">
    <br>
    <p>Password </p>
    <input type="text" name="pass">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>