<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE ENTRY</title>

</head>
<body>
<h3>YOU CAN CORRECT YOUR MISTAKES HERE</h3>
<form action="/update" method="POST">
    <p>Enter previous mobile number</p><input type="text" name="mon1">
    <br>
    <br>
    <p>Enter correct mobile number</p><input type="text" name="cmon">
    <br>
    <br>
   <p> Enter your correct name</p><input type="text" name="user_name">
    <br>
    <br>
    <p> Enter your correct Address</p><input type="text" name="addrs">
    <br>
    <br>
    <p> Enter your correct email</p><input type="text" name="email1">
    <br>
    <br>



<input type="submit" value="Submit">
    </form>
</body>
</html>